.section-four {
  background-color: var(--light-gray);
}

.container-section-four {
  padding-top: 84px;
  padding-bottom: 20px;
  max-width: 420px;
}

@media screen and (min-width: 768px) {
  .container-section-four {
    padding-top: 100px;
    padding-bottom: 36px;
    max-width: 450px;
  }
}

@media screen and (min-width: 1280px) {
  .container-section-four {
    padding-top: 130px;
    padding-bottom: 130px;
    max-width: 1168px;
  }
}

.sub-title-section-four {
  color: var(--black-color);
  display: flex;
  align-items: center;
  color: var(--black-color);
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

/* '.sub-title-section-four' for tablet and desktop has the same properties */

.sub-title-section-four::before {
  display: inline-block;
  content: '';
  background-color: var(--black-color);
  width: 60px;
  height: 1px;
  margin-right: 20px;
}

/* '.sub-title-section-four::before' for tablet and desktop has the same properties */

.header-section-four {
  margin-top: 20px;
  color: var(--black-color);
  font-family: 'Raleway';
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 2.1px;
}

/* '.header-section-four' for tablet and desktop has the same properties */

.container-team-main {
  margin-top: 44px;
}

/* 'container-team-main' for tablet has the same properties */

@media screen and (min-width: 1280px) {
  .container-team-main {
    display: flex;
    gap: 30px;
  }
}

.team-img {
  width: 100%;
  height: 346px;
}

@media screen and (min-width: 768px) {
  .team-img {
    display: none;
  }
}

.team-img-tab {
  display: none;
}

@media screen and (min-width: 768px) {
  .team-img-tab {
    display: block;
    width: 100%;
    height: 346px;
  }
}

.team-img-desk {
  display: none;
}

@media screen and (min-width: 1280px) {
  .team-img-desk {
    display: block;
    width: 370px;
    height: 346px;
  }

  .team-img-tab {
    display: none;
  }
}

.staff-name {
  margin-top: 30px;
  color: var(--black-color);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.36px;
}

/* '.staff-name' for tablet has the same properties */

.staff-descr {
  color: var(--orange-color);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
  margin-top: 8px;
}

/* '.staff-descr' for tablet has the same properties */

.social-container-section-four {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 64px;
}

/* '.social-container-section-four' for tablet has the same properties */

@media screen and (min-width: 1280px) {
  .social-container-section-four {
    margin-bottom: 0;
  }
}

.social-link-section-four {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-color);
}

/* '.social-link-section-four' for tablet has the same properties */

.social-icon-section-four {
  transition: fill 0.3s ease;
}

/* '.social-link-section-four' for tablet has the same properties */

.social-link-section-four:hover .social-icon-section-four,
.social-link-section-four:focus .social-icon-section-four {
  fill: var(--orange-color);
}

/* '.social-link-section-four:hover .social-icon-section-four,
  .social-link-section-four:focus .social-icon-section-four' for tablet has the same properties */
